h2 {
    font-size: 35px;
    background: linear-gradient(to right, #00a3ff, #00ff95);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3 {
    font-size: 30px;
    background: linear-gradient(to right, #00ff95, #00a3ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// .card{
//     background-color:#d9e7ff;
// }
