<div style="backgroundBlendMode: normal, color-dodge;">
    <div class="content p-2 h-full relative bg-cover bg-no-repeat bg-center border-round-xl shadow-1 flex flex-column justify-content-end benefit"
        style="backgroundBlendMode: color-dodge, normal, normal; minHeight: 230px;maxHeight: 230px;
        background-size: cover;  background-position: center top;"
        [ngStyle]="{'background-image': 'url(' + benefit.backgroundImage + ')'}">
        <!-- <div class="content-image absolute top-0 right-0">
            <div class="rating mt-2 border-round-sm mr-2 p-2 flex align-items-center gap-2 bg-white-alpha-20 w-8rem border-1"
                style="backdropFilter: blur(27px); borderColor: rgba(255, 255, 255, 0.2);">
                <i class="pi pi-star-fill text-white"></i>
                <i class="pi pi-star-fill text-white"></i>
                <i class="pi pi-star-fill text-white"></i>
                <i class="pi pi-star-fill text-white-alpha-50"></i>
                <i class="pi pi-star-fill text-white-alpha-50"></i>
            </div>
        </div> -->
        <div class="content-info mt-2 border-round-sm bg-white-alpha-20 border-1 border-round-lg"
            style="backdropFilter: blur(27px); borderColor: rgba(255, 255, 255, 0.2);">
            <div class="flex align-items-center justify-content-between py-2 px-3 border-bottom-1"
                style="borderColor: rgba(255, 255, 255, 0.2);">
                <span class="font-medium text-white">{{benefit.name}}</span>
                <i class="pi pi-verified text-white"></i>
            </div>
            <div class="flex align-items-center justify-content-end py-2 px-3 gap-2 border-bottom-1"
                style="borderColor: rgba(255, 255, 255, 0.2);">
                <div class="flex align-items-center gap-2">
                    <span class="font-small text-white white-space-nowrap">Number of users</span>
                    <i class="pi pi-users text-white"></i>
                </div>
            </div>
            <div class="flex align-items-center justify-content-end py-2 px-3 gap-2 border-bottom-1"
                style="borderColor: rgba(255, 255, 255, 0.2);">
                <div *ngIf="benefit.type === benefitType.MONEY"class="flex align-items-center gap-2">
                    <i class="pi pi-money-bill text-white"></i>
                </div>
                <div *ngIf="benefit.type === benefitType.TROPHY"class="flex align-items-center gap-2">
                    <i class="pi pi-filter-fill text-white"></i>
                </div>
                <div *ngIf="benefit.type === benefitType.PROMOTION"class="flex align-items-center gap-2">
                    <span class="font-small text-white white-space-nowrap"></span>
                    <i class="pi pi-angle-double-up text-white"></i>
                </div>
            </div>
        </div>
        <div  class="flex align-items-center justify-content-center pt-2 gap-2">
            <app-request-benefit class="min-w-full max-w-full" [benefit]="benefit"></app-request-benefit>
        </div>
    </div>
</div>
