
:host ::ng-deep .p-selectbutton .p-button.p-highlight:hover  {
    background: #0ea5e9;
    border-color: #0ea5e9;

}
:host ::ng-deep .p-selectbutton .p-button.p-highlight  {
  background: #0ea5e9;
  border-color: #0ea5e9;
}

