<p-dialog *ngIf="task" header="Header" [(visible)]="visible" [style]="{width: '50vw', 'min-height': '60vh'}"
    [modal]="true"  (onHide)="closeTaskDetailsDialog()">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <i class="pi pi-fw pi-ticket"></i>
            <span class="text-4xl font-bold white-space-nowrap">{{task.getName()}}</span>
        </div>
    </ng-template>
    <div class="grid mt-2">
        <div class="col-7">
            <div class="block mb-3">
                <p-tag class="mr-1 mb-1" [severity]="task.getStatus() | taskStatusSeverity"
                    [icon]="task.getStatus() | taskStatusIcon" [value]="task.getStatus() | taskStatusValue"></p-tag>
                <p-tag class="mr-1 mb-1" [severity]="task.getUrgency() | taskUrgencySeverity"
                    [icon]="task.getUrgency() | taskUrgencyIcon" [value]="task.getUrgency() | taskUrgencyValue"></p-tag>
                <p-tag class="mr-1 mb-1" *ngFor="let tag of task.getTags()" [severity]="tag | taskTagSeverity"
                    [icon]="tag | taskTagIcon" [value]="tag | taskTagValue"></p-tag>
            </div>
            <div class="text-3xl mb-3"><i class="pi pi-fw pi-user"></i> Assignee</div>
            <div class="text-3xl mb-3"><i class="pi pi-fw pi-align-left"></i> Description</div>
            <p-inplace #descriptionInplace>
                <ng-template pTemplate="display">
                    <span *ngIf="task.getDescription() === '';else elseBlock">Add a detailed description</span>
                    <span #elseBlock [innerHtml]="task.getDescription() | safeHtml">{{task.getDescription() | safeHtml}}</span>
                </ng-template>
                <ng-template pTemplate="content">
                    <p-editor [(ngModel)]="updatedDescription" [style]="{ height: '200px', 'margin-bottom': '5px' }"></p-editor>
                    <p-button label="Save Description" icon="pi pi-fw pi-check" [outlined]="true" severity="primary"
                                (click)="updateTaskDescription()"></p-button>
                </ng-template>
            </p-inplace>
        </div>
        <div class="col-5">
            <p-inplace #tagsInplace>
                <ng-template pTemplate="display">
                    <span>Update Task Tags</span>
                </ng-template>
                <ng-template pTemplate="content">
                    <div class="grid">
                        <div class="col-10">
                            <p-multiSelect [options]="tags" [(ngModel)]="selectedTags" optionLabel="name"
                                placeholder="Select Tags"></p-multiSelect>

                        </div>
                        <div class="col-2 flex justify-content-start">
                            <p-button label="" icon="pi pi-fw pi-check" [outlined]="true" severity="primary"
                                (click)="updateTaskTags()"></p-button>
                        </div>
                    </div>
                </ng-template>
            </p-inplace>

        </div>
    </div>
</p-dialog>
<!-- <p-dialog [(visible)]="visible">
    <ng-template pTemplate="headless" style="backdrop-filter: blur(2px);z-index: 1101;">

        <div *ngIf="task">
            <div class="grid mt-6 mb-6 ml-1 mr-1">
                <div class="col flex justify-content-between flex-wrap">
                    <p class="flex align-items-center sample">{{task.name}}</p>
                </div>
            </div>

        </div>

        <div class="flex flex-column px-8 py-5 gap-4"
            style="border-radius: 12px; background-color:#f8f8f8;backdrop-filter: blur(2px);z-index: 1101; ">
            <div class="inline-flex flex-column gap-2">
                <label for="username" style="color:black!important;"
                    class="text-primary-50 font-semibold">Desription</label>
                
            </div>
            
        </div>
    </ng-template>
</p-dialog> -->