// .card-header {
//   background-color: #e5f6ff;
//   border: none;
// }

.sample {
  font: 2rem "Courier New", sans-serif;
  font-family: "Courier New", monospace;
  font-weight: bold;
}

// .sample2 {
//   font: 2rem Verdana, sans-serif;
//   font-family: Verdana, sans-serif;
//   font-weight: bolder;
// }
