:host ::ng-deep {
    .drop-column {
        border: 1px solid transparent;
        transition: border-color .2s;
    
        &.p-draggable-enter {
            border-color: var(--primary-color); 
        }
    }

    [pDraggable] {
        cursor: move;
    }
}
li{
    transition: transform .5s, box-shadow 1s;
}
li:hover {
    transform: scale(1.02) perspective(0px);
    box-shadow: 0 2px 2px #e5f6ff;
  }

