<div class="grid">
    <div class="col-12 lg:col-6 xl:col">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">DaysOff Remaining</span>
                    <div class="text-900 font-medium text-xl">18</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">24 new </span>
            <span class="text-500">since last visit</span>
        </div>
    </div>
    <div *ngIf="daysOffTaken" class="col-12 lg:col-6 xl:col">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">DaysOff Taken</span>
                    <div class="text-900 font-medium text-xl">{{daysOffTaken/24}} ({{daysOffTaken}} hours)</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">{{daysOffTakenLastMonth/24}} days </span>
            <span class="text-500">in the last month</span>
        </div>
    </div>
    <div *ngIf="lastDayOff" class="col-12 lg:col-6 xl:col">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Last Dayoff Taken</span>
                    <span class="text-500">Date: </span>
                    <span class="text-900 font-medium text-xl">{{lastDayOff.startDate}} - {{lastDayOff.endDate}}</span>
                </div>
                <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                </div>
            </div>
            <span class="text-500">Reason: </span>
            <span class="text-900 font-medium text-xl">{{lastDayOff.reason}}</span>
        </div>
    </div>
    <div *ngIf="lastDayOffRequest" class="col-12 lg:col-6 xl:col">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Last Dayoff Request</span>
                    <span class="text-500">Date: </span>
                    <span class="text-900 font-medium text-xl">{{lastDayOffRequest.startDate}} - {{lastDayOffRequest.endDate}}</span>
                </div>
                <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                </div>
            </div>
            <span class="text-500">Status: </span>
            <span class="text-green-500 font-medium">{{lastDayOffRequest.status}}</span>
            
        </div>
    </div>
</div>

<app-request-daysoff></app-request-daysoff>