<div class="card mb-0">
    <div class="flex justify-content-between mb-3">
        <div>
            <span class="block text-500 font-medium mb-3">{{project.name}}</span>
            <div class="text-900 font-medium text-xl">{{project.description}}</div>
        </div>
        <div class="flex align-items-center justify-content-center border-round" [ngStyle]="{height: '2.5rem'}">
            <p-button (click)="redirectToProjectDetails()" class="border-none" icon="pi pi-chevron-right"
                [rounded]="true" [outlined]="true"></p-button>
        </div>
    </div>
    <span class="text-green-500 font-medium">234</span>
    <span class="text-500"> employees are part of this project</span>
</div>