<div class=" container">
    <div class="grid nested-grid">
        <div class="col-12">
            <div class="grid">
                <div class="col-4">
                    <div class="flex justify-content-center align-items-center min-w-full	 max-w-screen">
                        <img style="width:80%"
                            src="https://novo-admin-template.multipurposethemes.com/images/avatar/avatar-3.png">
                    </div>
                </div>
                <div class="col-4 mt-6">
                    <div class="flex align-items-center justify-content-left h-4rem font-bold border-round m-2">
                        <p-inplace #hrInfoCINInplace>
                            <ng-template pTemplate="display">
                                <p><span *ngIf="!noUserHrInfo;else noCIN" class="text-primary">CIN</span>: {{userHrInfo?.cin}}</p>
                                <ng-template #noCIN>
                                    <p>Click to Add CIN Number</p>
                                </ng-template>
                            </ng-template>
                            <ng-template pTemplate="content">
                                <p><span class="text-primary">CIN</span>: <input type="text" [(ngModel)]="userHrInfo.cin" pInputText /></p>
                            </ng-template>
                        </p-inplace>
                        <!-- <p><span class="text-primary">CIN</span>: {{userHrInfo?.cin}}</p> -->
                    </div>
                    <div class="flex align-items-center justify-content-left h-4rem font-bold border-round m-2">
                        <p-inplace #hrInfoStartDateInplace>
                            <ng-template pTemplate="display">
                                <p><span *ngIf="!noUserHrInfo" class="text-primary">Contract Start Date </span> :{{userHrInfo?.startDate |
                                    date}}</p>
                                <ng-template *ngIf="noUserHrInfo">Click to Add Start Date</ng-template>
                            </ng-template>
                            <ng-template pTemplate="content">
                                <p><span class="text-primary">Contract Start Date </span>: <p-calendar [(ngModel)]="userHrInfo.startDate" /></p>
                            </ng-template>
                        </p-inplace>
                    </div>
                    <div class="flex align-items-center justify-content-left h-4rem font-bold border-round m-2">
                        <p-inplace #hrInfoEndDateInplace>
                            <ng-template pTemplate="display">
                                <p><span *ngIf="!noUserHrInfo;else noEndDate"  class="text-primary">Contract End Date </span>: {{userHrInfo?.endDate | date}}</p>
                                <ng-template *ngIf="noUserHrInfo">Click to Add End Date</ng-template>
                            </ng-template>
                            <ng-template pTemplate="content">
                                <p><span class="text-primary">Contract End Date </span>: <p-calendar [(ngModel)]="userHrInfo.endDate" /></p>
                            </ng-template>
                        </p-inplace>
                    </div>
                    <div class="flex align-items-center justify-content-left h-4rem font-bold border-round m-2">
                        <p-inplace #hrInfoNoteInplace>
                            <ng-template pTemplate="display">
                                <p><span *ngIf="!noUserHrInfo;else noScore" class="text-primary">Score </span>: {{userHrInfo?.note}}</p>                            
                                <ng-template *ngIf="noUserHrInfo">Click to Add Score</ng-template>
                            </ng-template>

                            <ng-template pTemplate="content">
                                <p><span class="text-primary">Score </span>: <input type="text" [(ngModel)]="userHrInfo.note" pInputText /></p>
                            </ng-template>
                        </p-inplace>
                        
                    </div>
                </div>
                <div class="col-4 mt-6">
                    <div class="flex align-items-center justify-content-left h-4rem font-bold border-round m-2">
                        <p><span class="text-primary">Manager </span>: {{userHrInfo?.manager.userName}}</p>
                    </div>
                    <div class="flex align-items-center justify-content-left h-4rem font-bold border-round m-2">
                        <p><span class="text-primary">Base Salary </span>: {{userHrInfo?.baseSalary}}</p>
                    </div>
                    <div class="flex align-items-center justify-content-left h-4rem font-bold border-round m-2">
                        <p><span class="text-primary">Net Salary </span>: {{userHrInfo?.netSalary}}</p>
                    </div>
                    <div class="flex align-items-center justify-content-left h-4rem font-bold border-round m-2">
                        <p-inplace #hrInfoCnssNumberInplace>
                            <ng-template pTemplate="display">
                                <p><span *ngIf="!noUserHrInfo;else noCnssNumber" class="text-primary">CNSS Number </span>: {{userHrInfo?.cnssNumber}}</p>
                                    <ng-template *ngIf="noUserHrInfo">Click to Add CNSS Number</ng-template>
                            </ng-template>
                            <ng-template pTemplate="content">
                                <input type="text" [(ngModel)]="userHrInfo.cnssNumber" pInputText />
                            </ng-template>
                        </p-inplace>
                        
                    </div>
                </div>
                <p-button label="Save Personal Information" icon="pi pi-fw pi-check" [outlined]="true" severity="primary"
                                (click)="updateHrInfo()"></p-button>
                
                <div class="col-12 mt-4">   
                    <div class="grid card flex justify-content-between flex-wrap shadow-2 p-4">
                        <div class="col-3 flex justify-content-center text-primary font-bold">3 Projects</div>
                        <div class="col-3 flex justify-content-center text-primary font-bold">15 Tasks</div>
                        <div class="col-3 flex justify-content-center text-primary font-bold">Something</div>
                        <div class="col-3 flex justify-content-center text-primary font-bold">Something</div>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
    
</div>