<div class="card">
    <div class="flex flex-column">
        <div class="flex align-items-center justify-content-left h-4rem font-bold border-round m-2">
            <p><span class="text-primary">CIN</span>: {{userHrInfo.getCin()}}</p>
        </div>
        <div class="flex align-items-center justify-content-left h-4rem font-bold border-round m-2">
            <p><span class="text-primary">Contract Start Date </span> :{{userHrInfo.getContractStartDate() | date}}</p>
        </div>
        <div class="flex align-items-center justify-content-left h-4rem font-bold border-round m-2">
            <p><span class="text-primary">Contract End Date </span>: {{userHrInfo.getEndDate() | date}}</p>
        </div>
        <div class="flex align-items-center justify-content-left h-4rem font-bold border-round m-2">
            <p><span class="text-primary">Score </span>: {{userHrInfo.getNote()}}</p>
        </div>
        <div class="flex align-items-center justify-content-left h-4rem font-bold border-round m-2">
            <p><span class="text-primary">Manager </span>: {{userHrInfo.getManagerId()}}</p>
        </div>
        <div class="flex align-items-center justify-content-left h-4rem font-bold border-round m-2">
            <p><span class="text-primary">Base Salary </span>: {{userHrInfo.getBaseSalary()}}</p>
        </div>
        <div class="flex align-items-center justify-content-left h-4rem font-bold border-round m-2">
            <p><span class="text-primary">Net Salary </span>: {{userHrInfo.getNetSalary()}}</p>
        </div>
        <div class="flex align-items-center justify-content-left h-4rem font-bold border-round m-2">
            <p><span class="text-primary">CNSS Number </span>: {{userHrInfo.getCnssNumber()}}</p>
        </div>
    </div>
</div>