.card-header {
  background: linear-gradient(135deg,#C7D2FE, #e7ecfe) ;
  border: none;
}

.sample {
  font: 2rem "Courier New", sans-serif;
  font-family: "Courier New", monospace;
  font-weight: bold;
}

.sample2 {
  font: 2rem Verdana, sans-serif;
  font-family: Verdana, sans-serif;
  font-weight: bolder;
}

:host ::ng-deep .p-selectbutton .p-button.p-highlight:hover  {
    background: #0ea5e9;
    border-color: #0ea5e9;
    
}
:host ::ng-deep .p-selectbutton .p-button.p-highlight  {
  background: #0ea5e9;
  border-color: #0ea5e9;
}


