.addtask{
    cursor: pointer;
}

.taskname{
    min-width: 230px;
    max-width: 250px;
}
.assignee{
    min-width: 230px;
    max-width: 250px;
}
.tasktags{
    min-width: 220px;
    max-width: 250px;
}

.taguregency{
    min-width: 260px;
    max-width: 300px;
}
.taskstatus{
    min-width: 230px;
    max-width: 250px;
}
