<div *ngIf="groupOfTasks">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
    <div class="grid mt-6 mb-6 ml-1 mr-1">
        <div class="col card flex justify-content-between flex-wrap card-header">
            <p class="flex align-items-center sample">{{groupOfTasks.getName()}}</p>
            <div>
                <lottie-player src="https://lottie.host/549eefcc-df76-419c-9252-ac0ac7dd8220/DgP5lKwP2U.json"
                    background="transparent" speed="1" style="width: 150px; height: 150px" loop autoplay direction="1"
                    mode="normal"></lottie-player>
            </div>
        </div>
    </div>
    <app-get-tasks [projectName]="projectName" [groupOfTasksName]="groupOfTasksName"></app-get-tasks>
</div>