.card-header{
    background-color: #e5f6ff;
}
@font-face {
    src: url('https://github.com/google/fonts/blob/main/ofl/amstelvaralpha/AmstelvarAlpha-VF.ttf');
    font-family:'AmstelvarAlpha';
    font-style: normal;
  }
  
  label {
    font: 1rem monospace;
  }
  
  .sample {
    font: 2rem 'AmstelvarAlpha', sans-serif;
    font-family:"Courier New",monospace;
    font-weight: bold;
  }
  
  .sample2{
    font: 2rem 'AmstelvarAlpha', sans-serif;
    font-family: Verdana, sans-serif;
    font-weight: bolder;
  }